  #container {
    height: 100vh;
    position: relative;
  }
  #sign-in-form, #sign-up-form, #password-change-form {
    border-radius: 4px;
    border: 1px rgba(73, 80, 87, 0.30196078431372547) solid;
    position: absolute;
    top: 50%;
    right: 50%;
    min-width: 450px;
    min-height: 300px;
    padding: 50px;
    transform: translate(50%,-50%);
    -moz-transform: translate(50%,-50%);
    -webkit-transform: translate(50%,-50%);
    -o-transform: translate(50%,-50%);
    /*-ms-transform: translate(50%,-50%);*/
    /*-webkit-transition: width 2s, height 2s; !* Safari prior 6.1 *!*/
    /*transition: width 2s, height 2s;*/
    /*transition-timing-function: linear;*/
  }

  #sign-up-form, #password-change-form {
    display: none;
  }

  label {
    display: inline;
    max-width: 150px;
    float: left;
  }

  #container input {
      margin-top: 10px;
  }

#container button {
    margin-top: 10px;
}

  #container a {
      outline: none;
      text-decoration: none;
      color:#E45953;
  }

  #sign-up-call-button {
      display: inline-block;
      float: right;
  }

  @media only screen and (max-width: 500px) {
      #sign-in-form, #sign-up-form {
          margin: 0;
          min-width: 300px;
          font-size: 12px;
      }
  }

  @media only screen and (max-height: 700px) {
      #container {
          min-height: 700px;
      }
  }